<div class="frame board-8843f1f0b166" @onclick="OnClickCallback">
    <div class="shape rect Block" style="background: @ImageString; background-size:64px; width: 64px; height: 64px;"></div>
    <p style="width:inherit; overflow:clip; text-align:center;">@BlockName</p>
</div>

@code {
    [Parameter]
    public string BlockName { get; set; } = "undefined";

    [Parameter]
    public string ImageString { get; set; } = "url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAAedJREFUOE+l0ttrz3Ecx/Hvf+CUlBRGNDnNyqkcYmw3iN92RTk0bliO40I2V2wO2S40i3JI2XZDacvIIUaylZXlMEQuKHO4lLZfDxfvz5Rrn/r2qO/F5/nq2zfL8F9PlmVG5cmyzJh4YVxyQnJqsjhZkYRs0gcKvjE1z3TMwGwUYyGWoQwV2IFatBk+32NB8du4cXFassq/papkc9Jf38mW36fkGWVvWPuVijybRG2vKDaKao/hM4B+dMeCis64cdvLcH9aclrYkfTXV8nbsi0X2dFCVTvVD6l9wcnPNOejej+14nxBHx6hHa2x4FBT3Fx/PbzyPHySljBsb/JG8pzsaC11x2hs4MJ52lrovEXPMz59RB4+oRudaMUF8WWOx4Lm6ijcqAt7L6ViV3LocSpeTtYlD8oubaatko5ddB2gr4Yv9WhCSz937/G6laFzOIEaVGMXtseCO7kovdqSivuSJ9vDm6fCwf2pvDVZLnuwjJ4V9JcysAY5bOymspXdDRyp4cwerm3n6UYGy7FG/J8rY8H7olRclCxpCnM7w5258GxJ+HtRWjBP9nEiPyZhCqa1UHiEmZUU5ZhfypKlrF7AhiK2zeJwIVen8WsKJscCI1J59Ppw7NxwfEFYMD6cMzZcNzr8OdIfw3Cxg7Xkl7EAAAAASUVORK5CYII=)";
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}
