<div class="frame board-8843f1f0b166" @onclick="OnClickCallback">
    <div class="shape rect Block" style="background: @ImageString; background-size:64px; width: 64px; height: 64px;"></div>
    <div class="shape text MenuBlockText">
        <svg width="70" xmlns="http://www.w3.org/2000/svg" height="29" id="screenshot-d2950523-f033-80ea-8004-8843f1f0b167" viewBox="2038 777 70 29" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
            <style></style>
            <g id="shape-d2950523-f033-80ea-8004-8843f1f0b167">
                <defs></defs>
                <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="2040" y="779" width="66" height="25" rx="0" ry="0">
                    <defs>
                        <pattern patternUnits="userSpaceOnUse" x="2040" y="779" width="65.54464721679688" height="25.71428871154785" id="fill-0-render-89-0">
                            <g>
                                <rect width="65.54464721679688" height="25.71428871154785" style="fill:#ffffff;fill-opacity:1"></rect>
                            </g>
                        </pattern>
                    </defs>
                    <g class="fills" id="fills-d2950523-f033-80ea-8004-8843f1f0b167"><text x="2040" y="803.571431517601" dominant-baseline="ideographic" textLength="65.54464721679688" lengthAdjust="spacingAndGlyphs" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1">@BlockName</text></g>
                    <g id="strokes-d2950523-f033-80ea-8004-8843f1f0b167" class="strokes">
                        <g class="outer-stroke-shape">
                            <defs>
                                <mask id="outer-stroke-render-89-0-d2950523-f033-80ea-8004-8843f1f0b167-0" x="2038.585786437627" y="776.44292924368" width="68.37307434154306" height="28.542715836294043" maskUnits="userSpaceOnUse">
                                    <use href="#stroke-shape-render-89-0-d2950523-f033-80ea-8004-8843f1f0b167-0" style="fill:none;stroke:white;stroke-width:2"></use>
                                    <use href="#stroke-shape-render-89-0-d2950523-f033-80ea-8004-8843f1f0b167-0" style="fill:black;stroke:none"></use>
                                </mask><text x="2040" y="803.571431517601" dominant-baseline="ideographic" textLength="65.54464721679688" lengthAdjust="spacingAndGlyphs" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr" id="stroke-shape-render-89-0-d2950523-f033-80ea-8004-8843f1f0b167-0">@BlockName</text>
                            </defs>
                            <use href="#stroke-shape-render-89-0-d2950523-f033-80ea-8004-8843f1f0b167-0" mask="url(#outer-stroke-render-89-0-d2950523-f033-80ea-8004-8843f1f0b167-0)" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:none;stroke-width:2;stroke:#aba09c;stroke-opacity:1"></use>
                            <use href="#stroke-shape-render-89-0-d2950523-f033-80ea-8004-8843f1f0b167-0" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:none;fill-opacity:none;stroke-width:1;stroke:none;stroke-opacity:1"></use>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </div>
</div>

@code {
    [Parameter]
    public string BlockName { get; set; } = "undefined";

    [Parameter]
    public string ImageString { get; set; } = "url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAALGPC/xhBQAAAedJREFUOE+l0ttrz3Ecx/Hvf+CUlBRGNDnNyqkcYmw3iN92RTk0bliO40I2V2wO2S40i3JI2XZDacvIIUaylZXlMEQuKHO4lLZfDxfvz5Rrn/r2qO/F5/nq2zfL8F9PlmVG5cmyzJh4YVxyQnJqsjhZkYRs0gcKvjE1z3TMwGwUYyGWoQwV2IFatBk+32NB8du4cXFassq/papkc9Jf38mW36fkGWVvWPuVijybRG2vKDaKao/hM4B+dMeCis64cdvLcH9aclrYkfTXV8nbsi0X2dFCVTvVD6l9wcnPNOejej+14nxBHx6hHa2x4FBT3Fx/PbzyPHySljBsb/JG8pzsaC11x2hs4MJ52lrovEXPMz59RB4+oRudaMUF8WWOx4Lm6ijcqAt7L6ViV3LocSpeTtYlD8oubaatko5ddB2gr4Yv9WhCSz937/G6laFzOIEaVGMXtseCO7kovdqSivuSJ9vDm6fCwf2pvDVZLnuwjJ4V9JcysAY5bOymspXdDRyp4cwerm3n6UYGy7FG/J8rY8H7olRclCxpCnM7w5258GxJ+HtRWjBP9nEiPyZhCqa1UHiEmZUU5ZhfypKlrF7AhiK2zeJwIVen8WsKJscCI1J59Ppw7NxwfEFYMD6cMzZcNzr8OdIfw3Cxg7Xkl7EAAAAASUVORK5CYII=)";
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}
