@using MinecraftBlockPicker.Models;
<div class="frame board-8843f1f0b15b">
        <div class="frame CarrousellBackGround">
            <p style="margin-top: 0px;">Block To Place</p>
            <div style="display:flex; flex-direction:row; gap: 84px;">
                    <div style="display: flex; gap: 70px; flex-direction: row-reverse;">
                        @if (BlockList != null) {
                            @for (var i = 0; i < BlockList.Count; i++) {
                                    <div class="shape rect CarrousellBlock" style=" background-image: url(data:image/png;base64,@BlockList[i].image_base64);" />
                            }
                        }
                    </div>

            </div>
            
        </div>
        @ChildContent 
</div>
@code {
    [Parameter] public RenderFragment? ChildContent{ get; set; }
    [Parameter] public List<Blocks>? BlockList { get; set; }
}
