@page "/"
@using BlazorApp1.Models;
@rendermode InteractiveServer
@using CsvHelper;
@using System.Globalization;
@using System.Text;
<PageTitle>Home</PageTitle>

<div class="frame board-8843f1f0b157">
    <!-- frame: Board -->
    <div class="frame board-8843f1f0b158">
        <!-- rect: Rectangle -->
        <div class="shape rect rectangle-8843f1f0b15c">
        </div>
        <!-- rect: Rectangle -->
        <div class="shape rect rectangle-88444749cad8">
        </div>
        <!-- rect: Rectangle -->
        <div class="shape rect rectangle-8843f1f0b15e">
        </div>
        <!-- rect: Rectangle -->
        <div class="shape rect rectangle-884508826e10">
        </div>
        <!-- rect: Rectangle -->
        <div class="shape rect rectangle-884508826e11">
        </div>
        <!-- text: Row Mode -->
        <div class="shape text row-mode-8843f1f0b160">
            <div class="text-node-html" id="html-text-node-d2950523-f033-80ea-8004-8843f1f0b160" data-x="2024.9999999999998" data-y="12">
                <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
                    <div class="paragraph-set root-0-paragraph-set-0">
                        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(48, 211, 79, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;text-rendering:geometricPrecision;caret-color:rgba(48, 211, 79, 1);text-decoration:none;--font-id:gfont-noto-sans;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#30d34f&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-size:45px;font-family:&quot;Noto Sans&quot;;font-style:normal;font-weight:400">Row Mode</span></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- text: Grid mode -->
        <div class="shape text grid-mode-8843f1f0b161">
            <div class="text-node-html" id="html-text-node-d2950523-f033-80ea-8004-8843f1f0b161" data-x="2283" data-y="12.999999999999996">
                <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
                    <div class="paragraph-set root-0-paragraph-set-0">
                        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(100, 100, 100, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:break-spaces;text-rendering:geometricPrecision;caret-color:rgba(100, 100, 100, 1);text-decoration:none;--font-id:gfont-noto-sans;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#646464&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-size:45px;font-family:&quot;Noto Sans&quot;;font-style:normal;font-weight:400">Grid mode</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- frame: Board -->
    <div class="frame board-8843f1f0b159">
        <!-- rect: Rectangle -->
        <div class="shape rect rectangle-8843f1f0b162">
        </div>
        <!-- rect: Rectangle -->
        <div class="shape rect rectangle-8843f1f0b163">
        </div>
        <!-- frame: Board -->
        <div class="frame board-8843f1f0b164">
            @foreach(var data in dataSource) {
                <MenuItem BlockName="@data.file_name" ImageString="@createImage(data.image_base64)"/>
            }
        </div>
        <!-- text: All blocks -->
        <div class="shape text all-blocks-8843f1f0b165">
            <div class="text-node-html" id="html-text-node-d2950523-f033-80ea-8004-8843f1f0b165" data-x="2006" data-y="552">
                <div class="root rich-text root-0" style="display:flex;white-space:break-spaces;align-items:flex-start" xmlns="http://www.w3.org/1999/xhtml">
                    <div class="paragraph-set root-0-paragraph-set-0">
                        <p class="paragraph root-0-paragraph-set-0-paragraph-0" dir="auto"><span class="text-node root-0-paragraph-set-0-paragraph-0-text-0" style="color:rgba(237, 229, 226, 1);text-transform:none;line-break:auto;overflow-wrap:initial;white-space:pre;text-rendering:geometricPrecision;caret-color:rgba(237, 229, 226, 1);text-decoration:none;--font-id:gfont-noto-sans;--fills:[[&quot;^ &quot;,&quot;~:fill-color&quot;,&quot;#ede5e2&quot;,&quot;~:fill-opacity&quot;,1]];letter-spacing:0px;font-size:52px;font-family:&quot;Noto Sans&quot;;font-style:normal;font-weight:400">All blocks</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- group: light_mode_24dp_FILL0_wght400_GRAD0_opsz24 -->
    <div class="shape group lightmode-8843f1f0b15a">
        <svg width="45" xmlns="http://www.w3.org/2000/svg" height="45" id="screenshot-d2950523-f033-80ea-8004-8843f1f0b15a" viewBox="3799 13 45 45" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
            <g id="shape-d2950523-f033-80ea-8004-8843f1f0b15a" style="fill:#000000" height="24" width="24" rx="0" ry="0">
                <defs></defs>
                <g id="shape-d2950523-f033-80ea-8004-8843f1f0b16a">
                    <defs></defs>
                    <g class="fills" id="fills-d2950523-f033-80ea-8004-8843f1f0b16a">
                        <path d="M3821.500,41.125C3823.063,41.125,3824.391,40.578,3825.484,39.484C3826.578,38.391,3827.125,37.062,3827.125,35.500C3827.125,33.937,3826.578,32.609,3825.484,31.516C3824.391,30.422,3823.063,29.875,3821.500,29.875C3819.938,29.875,3818.609,30.422,3817.516,31.516C3816.422,32.609,3815.875,33.937,3815.875,35.500C3815.875,37.062,3816.422,38.391,3817.516,39.484C3818.609,40.578,3819.938,41.125,3821.500,41.125ZZM3821.500,44.875C3818.906,44.875,3816.695,43.961,3814.867,42.133C3813.039,40.305,3812.125,38.094,3812.125,35.500C3812.125,32.906,3813.039,30.695,3814.867,28.867C3816.695,27.039,3818.906,26.125,3821.500,26.125C3824.094,26.125,3826.305,27.039,3828.133,28.867C3829.961,30.695,3830.875,32.906,3830.875,35.500C3830.875,38.094,3829.961,40.305,3828.133,42.133C3826.305,43.961,3824.094,44.875,3821.500,44.875ZZM3808.375,37.375L3800.875,37.375L3800.875,33.625L3808.375,33.625L3808.375,37.375ZZM3842.125,37.375L3834.625,37.375L3834.625,33.625L3842.125,33.625L3842.125,37.375ZZM3819.625,22.375L3819.625,14.875L3823.375,14.875L3823.375,22.375L3819.625,22.375ZZM3819.625,56.125L3819.625,48.625L3823.375,48.625L3823.375,56.125L3819.625,56.125ZZM3811.000,27.531L3806.266,22.984L3808.938,20.219L3813.438,24.906L3811.000,27.531ZZM3834.063,50.781L3829.516,46.047L3832.000,43.469L3836.734,48.016L3834.063,50.781ZZM3829.469,25.000L3834.016,20.266L3836.781,22.938L3832.094,27.437L3829.469,25.000ZZM3806.219,48.062L3810.953,43.516L3813.531,46.000L3808.984,50.734L3806.219,48.062ZZM3821.500,35.500Z" style="fill:#e8eaed"></path>
                    </g>
                </g>
            </g>
        </svg>
    </div>
    <!-- frame: Board -->
    <div class="frame board-8843f1f0b15b">
        <!-- rect: Rectangle -->
        <div class="shape rect rectangle-8843f1f0b16b">
        </div>
        <!-- frame: Board -->
        <div class="frame board-8843f1f0b16c">
            <!-- rect: crimson_planks -->
            <div class="shape rect crimsonpl-8843f1f0b178">
            </div>
            <!-- rect: end_portal_frame_top -->
            <div class="shape rect endportal-8843f1f0b177">
            </div>
            <!-- rect: end_portal_frame_top -->
            <div class="shape rect endportal-8843f1f0b176">
            </div>
            <!-- rect: end_portal_frame_top -->
            <div class="shape rect endportal-8843f1f0b175">
            </div>
            <!-- rect: crimson_planks -->
            <div class="shape rect crimsonpl-8843f1f0b174">
            </div>
            <!-- rect: end_portal_frame_top -->
            <div class="shape rect endportal-8843f1f0b173">
            </div>
            <!-- rect: crimson_planks -->
            <div class="shape rect crimsonpl-8843f1f0b172">
            </div>
            <!-- rect: end_portal_frame_top -->
            <div class="shape rect endportal-8843f1f0b171">
            </div>
            <!-- rect: end_portal_frame_top -->
            <div class="shape rect endportal-8843f1f0b170">
            </div>
        </div>
        <!-- frame: Board -->
        <div class="frame board-8843f1f0b16d">
            <!-- frame: Board -->
            <div class="frame board-8843f1f0b17a">
                <!-- text: End Portal Frame -->
                <div class="shape text end-portal-8843f1f0b180">
                    <svg width="148" xmlns="http://www.w3.org/2000/svg" height="29" id="screenshot-d2950523-f033-80ea-8004-8843f1f0b180" viewBox="2608 478.5 148 29" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
                        <style></style>
                        <g id="shape-d2950523-f033-80ea-8004-8843f1f0b180">
                            <defs></defs>
                            <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="2610" y="480.5" width="144" height="24.999999999999943" rx="0" ry="0">
                                <defs>
                                    <pattern patternUnits="userSpaceOnUse" x="2610" y="480.5" width="143.80357360839844" height="25.71428871154785" id="fill-0-render-92-0">
                                        <g>
                                            <rect width="143.80357360839844" height="25.71428871154785" style="fill:#ffffff;fill-opacity:1"></rect>
                                        </g>
                                    </pattern>
                                </defs>
                                <g class="fills" id="fills-d2950523-f033-80ea-8004-8843f1f0b180"><text x="2610" y="505.071431517601" dominant-baseline="ideographic" textLength="143.80357360839844" lengthAdjust="spacingAndGlyphs" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1">End Portal Frame</text></g>
                                <g id="strokes-d2950523-f033-80ea-8004-8843f1f0b180" class="strokes">
                                    <g class="outer-stroke-shape">
                                        <defs>
                                            <mask id="outer-stroke-render-92-0-d2950523-f033-80ea-8004-8843f1f0b180-0" x="2608.585786437627" y="477.94292924368006" width="146.63200073314462" height="28.542715836294043" maskUnits="userSpaceOnUse">
                                                <use href="#stroke-shape-render-92-0-d2950523-f033-80ea-8004-8843f1f0b180-0" style="fill:none;stroke:white;stroke-width:2"></use>
                                                <use href="#stroke-shape-render-92-0-d2950523-f033-80ea-8004-8843f1f0b180-0" style="fill:black;stroke:none"></use>
                                            </mask><text x="2610" y="505.071431517601" dominant-baseline="ideographic" textLength="143.80357360839844" lengthAdjust="spacingAndGlyphs" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr" id="stroke-shape-render-92-0-d2950523-f033-80ea-8004-8843f1f0b180-0">End Portal Frame</text>
                                        </defs>
                                        <use href="#stroke-shape-render-92-0-d2950523-f033-80ea-8004-8843f1f0b180-0" mask="url(#outer-stroke-render-92-0-d2950523-f033-80ea-8004-8843f1f0b180-0)" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:none;stroke-width:2;stroke:#aba09c;stroke-opacity:1"></use>
                                        <use href="#stroke-shape-render-92-0-d2950523-f033-80ea-8004-8843f1f0b180-0" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:none;fill-opacity:none;stroke-width:1;stroke:none;stroke-opacity:1"></use>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <!-- frame: Board -->
                <div class="frame board-8843f1f0b17f">
                    <!-- rect: crimson_planks -->
                    <div class="shape rect crimsonpl-8843f1f0b181">
                    </div>
                    <!-- text: 50% -->
                    <div class="shape text c-50-8843f1f0b182">
                        <svg width="43" xmlns="http://www.w3.org/2000/svg" height="22" id="screenshot-d2950523-f033-80ea-8004-8843f1f0b182" viewBox="2660.5 444.5 43 22" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
                            <style></style>
                            <g id="shape-d2950523-f033-80ea-8004-8843f1f0b182">
                                <defs></defs>
                                <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="2662.5" y="446.5" width="39" height="18" rx="0" ry="0">
                                    <defs>
                                        <pattern patternUnits="userSpaceOnUse" x="2662.5" y="446.5" width="36.33928680419922" height="25.71428871154785" id="fill-0-render-93-0">
                                            <g>
                                                <rect width="36.33928680419922" height="25.71428871154785" style="fill:#ffffff;fill-opacity:1"></rect>
                                            </g>
                                        </pattern>
                                    </defs>
                                    <g class="fills" id="fills-d2950523-f033-80ea-8004-8843f1f0b182"><text x="2663.830357193947" y="471.071431517601" dominant-baseline="ideographic" textLength="36.33928680419922" lengthAdjust="spacingAndGlyphs" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1">50%</text></g>
                                    <g id="strokes-d2950523-f033-80ea-8004-8843f1f0b182" class="strokes">
                                        <g class="outer-stroke-shape">
                                            <defs>
                                                <mask id="outer-stroke-render-93-0-d2950523-f033-80ea-8004-8843f1f0b182-0" x="2662.416143631574" y="443.94292924368006" width="39.16771392894541" height="28.542715836294043" maskUnits="userSpaceOnUse">
                                                    <use href="#stroke-shape-render-93-0-d2950523-f033-80ea-8004-8843f1f0b182-0" style="fill:none;stroke:white;stroke-width:2"></use>
                                                    <use href="#stroke-shape-render-93-0-d2950523-f033-80ea-8004-8843f1f0b182-0" style="fill:black;stroke:none"></use>
                                                </mask><text x="2663.830357193947" y="471.071431517601" dominant-baseline="ideographic" textLength="36.33928680419922" lengthAdjust="spacingAndGlyphs" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr" id="stroke-shape-render-93-0-d2950523-f033-80ea-8004-8843f1f0b182-0">50%</text>
                                            </defs>
                                            <use href="#stroke-shape-render-93-0-d2950523-f033-80ea-8004-8843f1f0b182-0" mask="url(#outer-stroke-render-93-0-d2950523-f033-80ea-8004-8843f1f0b182-0)" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:none;stroke-width:2;stroke:#aba09c;stroke-opacity:1"></use>
                                            <use href="#stroke-shape-render-93-0-d2950523-f033-80ea-8004-8843f1f0b182-0" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:none;fill-opacity:none;stroke-width:1;stroke:none;stroke-opacity:1"></use>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <!-- frame: Board -->
            <div class="frame board-8843f1f0b179">
                <!-- text: Crimson planks -->
                <div class="shape text crimson-pl-8843f1f0b17c">
                    <svg width="134" xmlns="http://www.w3.org/2000/svg" height="29" id="screenshot-d2950523-f033-80ea-8004-8843f1f0b17c" viewBox="3115 478.5 134 29" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
                        <style></style>
                        <g id="shape-d2950523-f033-80ea-8004-8843f1f0b17c">
                            <defs></defs>
                            <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="3117" y="480.5" width="130" height="25" rx="0" ry="0">
                                <defs>
                                    <pattern patternUnits="userSpaceOnUse" x="3117" y="480.5" width="129.66073608398438" height="25.71428871154785" id="fill-0-render-94-0">
                                        <g>
                                            <rect width="129.66073608398438" height="25.71428871154785" style="fill:#ffffff;fill-opacity:1"></rect>
                                        </g>
                                    </pattern>
                                </defs>
                                <g class="fills" id="fills-d2950523-f033-80ea-8004-8843f1f0b17c"><text x="3117" y="505.071431517601" dominant-baseline="ideographic" textLength="129.66073608398438" lengthAdjust="spacingAndGlyphs" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1">Crimson planks</text></g>
                                <g id="strokes-d2950523-f033-80ea-8004-8843f1f0b17c" class="strokes">
                                    <g class="outer-stroke-shape">
                                        <defs>
                                            <mask id="outer-stroke-render-94-0-d2950523-f033-80ea-8004-8843f1f0b17c-0" x="3115.585786437627" y="477.94292924368006" width="132.48916320873056" height="28.542715836294043" maskUnits="userSpaceOnUse">
                                                <use href="#stroke-shape-render-94-0-d2950523-f033-80ea-8004-8843f1f0b17c-0" style="fill:none;stroke:white;stroke-width:2"></use>
                                                <use href="#stroke-shape-render-94-0-d2950523-f033-80ea-8004-8843f1f0b17c-0" style="fill:black;stroke:none"></use>
                                            </mask><text x="3117" y="505.071431517601" dominant-baseline="ideographic" textLength="129.66073608398438" lengthAdjust="spacingAndGlyphs" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr" id="stroke-shape-render-94-0-d2950523-f033-80ea-8004-8843f1f0b17c-0">Crimson planks</text>
                                        </defs>
                                        <use href="#stroke-shape-render-94-0-d2950523-f033-80ea-8004-8843f1f0b17c-0" mask="url(#outer-stroke-render-94-0-d2950523-f033-80ea-8004-8843f1f0b17c-0)" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:none;stroke-width:2;stroke:#aba09c;stroke-opacity:1"></use>
                                        <use href="#stroke-shape-render-94-0-d2950523-f033-80ea-8004-8843f1f0b17c-0" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:none;fill-opacity:none;stroke-width:1;stroke:none;stroke-opacity:1"></use>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <!-- frame: Board -->
                <div class="frame board-8843f1f0b17b">
                    <!-- rect: crimson_planks -->
                    <div class="shape rect crimsonpl-8843f1f0b17d">
                    </div>
                    <!-- text: 50% -->
                    <div class="shape text c-50-8843f1f0b17e">
                        <svg width="43" xmlns="http://www.w3.org/2000/svg" height="22" id="screenshot-d2950523-f033-80ea-8004-8843f1f0b17e" viewBox="3160.5 444.5 43 22" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
                            <style></style>
                            <g id="shape-d2950523-f033-80ea-8004-8843f1f0b17e">
                                <defs></defs>
                                <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="3162.5" y="446.5" width="39" height="18" rx="0" ry="0">
                                    <defs>
                                        <pattern patternUnits="userSpaceOnUse" x="3162.5" y="446.5" width="36.33928680419922" height="25.71428871154785" id="fill-0-render-95-0">
                                            <g>
                                                <rect width="36.33928680419922" height="25.71428871154785" style="fill:#ffffff;fill-opacity:1"></rect>
                                            </g>
                                        </pattern>
                                    </defs>
                                    <g class="fills" id="fills-d2950523-f033-80ea-8004-8843f1f0b17e"><text x="3163.830357193947" y="471.071431517601" dominant-baseline="ideographic" textLength="36.33928680419922" lengthAdjust="spacingAndGlyphs" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1">50%</text></g>
                                    <g id="strokes-d2950523-f033-80ea-8004-8843f1f0b17e" class="strokes">
                                        <g class="outer-stroke-shape">
                                            <defs>
                                                <mask id="outer-stroke-render-95-0-d2950523-f033-80ea-8004-8843f1f0b17e-0" x="3162.416143631574" y="443.94292924368006" width="39.16771392894541" height="28.542715836294043" maskUnits="userSpaceOnUse">
                                                    <use href="#stroke-shape-render-95-0-d2950523-f033-80ea-8004-8843f1f0b17e-0" style="fill:none;stroke:white;stroke-width:2"></use>
                                                    <use href="#stroke-shape-render-95-0-d2950523-f033-80ea-8004-8843f1f0b17e-0" style="fill:black;stroke:none"></use>
                                                </mask><text x="3163.830357193947" y="471.071431517601" dominant-baseline="ideographic" textLength="36.33928680419922" lengthAdjust="spacingAndGlyphs" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr" id="stroke-shape-render-95-0-d2950523-f033-80ea-8004-8843f1f0b17e-0">50%</text>
                                            </defs>
                                            <use href="#stroke-shape-render-95-0-d2950523-f033-80ea-8004-8843f1f0b17e-0" mask="url(#outer-stroke-render-95-0-d2950523-f033-80ea-8004-8843f1f0b17e-0)" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:none;stroke-width:2;stroke:#aba09c;stroke-opacity:1"></use>
                                            <use href="#stroke-shape-render-95-0-d2950523-f033-80ea-8004-8843f1f0b17e-0" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:none;fill-opacity:none;stroke-width:1;stroke:none;stroke-opacity:1"></use>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <!-- text: Crimson Planks -->
        <div class="shape text crimson-pl-8843f1f0b16e">
            <svg width="135" xmlns="http://www.w3.org/2000/svg" height="29" id="screenshot-d2950523-f033-80ea-8004-8843f1f0b16e" viewBox="2864 315 135 29" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
                <style></style>
                <g id="shape-d2950523-f033-80ea-8004-8843f1f0b16e">
                    <defs></defs>
                    <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="2866" y="317" width="131" height="25" rx="0" ry="0">
                        <defs>
                            <pattern patternUnits="userSpaceOnUse" x="2866" y="317" width="130.0803680419922" height="25.71428871154785" id="fill-0-render-96-0">
                                <g>
                                    <rect width="130.0803680419922" height="25.71428871154785" style="fill:#ffffff;fill-opacity:1"></rect>
                                </g>
                            </pattern>
                        </defs>
                        <g class="fills" id="fills-d2950523-f033-80ea-8004-8843f1f0b16e"><text x="2866" y="341.571431517601" dominant-baseline="ideographic" textLength="130.0803680419922" lengthAdjust="spacingAndGlyphs" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1">Crimson Planks</text></g>
                        <g id="strokes-d2950523-f033-80ea-8004-8843f1f0b16e" class="strokes">
                            <g class="outer-stroke-shape">
                                <defs>
                                    <mask id="outer-stroke-render-96-0-d2950523-f033-80ea-8004-8843f1f0b16e-0" x="2864.585786437627" y="314.44292924368006" width="132.90879516673837" height="28.542715836294043" maskUnits="userSpaceOnUse">
                                        <use href="#stroke-shape-render-96-0-d2950523-f033-80ea-8004-8843f1f0b16e-0" style="fill:none;stroke:white;stroke-width:2"></use>
                                        <use href="#stroke-shape-render-96-0-d2950523-f033-80ea-8004-8843f1f0b16e-0" style="fill:black;stroke:none"></use>
                                    </mask><text x="2866" y="341.571431517601" dominant-baseline="ideographic" textLength="130.0803680419922" lengthAdjust="spacingAndGlyphs" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr" id="stroke-shape-render-96-0-d2950523-f033-80ea-8004-8843f1f0b16e-0">Crimson Planks</text>
                                </defs>
                                <use href="#stroke-shape-render-96-0-d2950523-f033-80ea-8004-8843f1f0b16e-0" mask="url(#outer-stroke-render-96-0-d2950523-f033-80ea-8004-8843f1f0b16e-0)" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:none;stroke-width:2;stroke:#aba09c;stroke-opacity:1"></use>
                                <use href="#stroke-shape-render-96-0-d2950523-f033-80ea-8004-8843f1f0b16e-0" style="text-transform:none;font-family:sourcesanspro;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:20px;text-decoration:none solid rgb(255, 255, 255);direction:ltr;fill:none;fill-opacity:none;stroke-width:1;stroke:none;stroke-opacity:1"></use>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <!-- text: Block to place -->
        <div class="shape text block-to-p-8843f1f0b16f">
            <svg width="144" xmlns="http://www.w3.org/2000/svg" height="22" id="screenshot-d2950523-f033-80ea-8004-8843f1f0b16f" viewBox="2859 203 144 22" style="-webkit-print-color-adjust::exact" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1">
                <style></style>
                <g id="shape-d2950523-f033-80ea-8004-8843f1f0b16f">
                    <defs></defs>
                    <g transform="matrix(1.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000)" class="text-container" x="2861" y="205" width="140" height="18" rx="0" ry="0">
                        <defs>
                            <pattern patternUnits="userSpaceOnUse" x="2861" y="205" width="97.36607360839844" height="20.571430206298828" id="fill-0-render-97-0">
                                <g>
                                    <rect width="97.36607360839844" height="20.571430206298828" style="fill:#ffffff;fill-opacity:1"></rect>
                                </g>
                            </pattern>
                        </defs>
                        <g class="fills" id="fills-d2950523-f033-80ea-8004-8843f1f0b16f"><text x="2882.3125" y="223.85714423656464" dominant-baseline="ideographic" textLength="97.36607360839844" lengthAdjust="spacingAndGlyphs" style="text-transform:none;font-family:&quot;Noto Sans&quot;;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:15px;text-decoration:underline solid rgb(255, 255, 255);direction:ltr;fill:#ffffff;fill-opacity:1">Block to place</text></g>
                        <g id="strokes-d2950523-f033-80ea-8004-8843f1f0b16f" class="strokes">
                            <g class="outer-stroke-shape">
                                <defs>
                                    <mask id="outer-stroke-render-97-0-d2950523-f033-80ea-8004-8843f1f0b16f-0" x="2880.898286437627" y="201.8715004678927" width="100.19450073314462" height="23.39985733104502" maskUnits="userSpaceOnUse">
                                        <use href="#stroke-shape-render-97-0-d2950523-f033-80ea-8004-8843f1f0b16f-0" style="fill:none;stroke:white;stroke-width:2"></use>
                                        <use href="#stroke-shape-render-97-0-d2950523-f033-80ea-8004-8843f1f0b16f-0" style="fill:black;stroke:none"></use>
                                    </mask><text x="2882.3125" y="223.85714423656464" dominant-baseline="ideographic" textLength="97.36607360839844" lengthAdjust="spacingAndGlyphs" style="text-transform:none;font-family:&quot;Noto Sans&quot;;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:15px;text-decoration:underline solid rgb(255, 255, 255);direction:ltr" id="stroke-shape-render-97-0-d2950523-f033-80ea-8004-8843f1f0b16f-0">Block to place</text>
                                </defs>
                                <use href="#stroke-shape-render-97-0-d2950523-f033-80ea-8004-8843f1f0b16f-0" mask="url(#outer-stroke-render-97-0-d2950523-f033-80ea-8004-8843f1f0b16f-0)" style="text-transform:none;font-family:&quot;Noto Sans&quot;;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:15px;text-decoration:underline solid rgb(255, 255, 255);direction:ltr;fill:none;stroke-width:2;stroke:#aba09c;stroke-opacity:1"></use>
                                <use href="#stroke-shape-render-97-0-d2950523-f033-80ea-8004-8843f1f0b16f-0" style="text-transform:none;font-family:&quot;Noto Sans&quot;;letter-spacing:normal;font-style:normal;font-weight:400;white-space:pre;font-size:15px;text-decoration:underline solid rgb(255, 255, 255);direction:ltr;fill:none;fill-opacity:none;stroke-width:1;stroke:none;stroke-opacity:1"></use>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>
</div>

@code {

    private IEnumerable<Blocks>? dataSource { get; set; }

    protected override void OnInitialized() {
        using (var reader = new StreamReader("blocks.csv"))
        using (var csv = new CsvReader(reader, CultureInfo.InvariantCulture)) {
            dataSource = csv.GetRecords<Blocks>().ToList();
        }

    }
    String createImage(String inputBase64) {
        return "url(data:image/png;base64," + inputBase64+")";
    }



}
