@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
html, body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

* {
    font-family: 'Noto Sans', Arial;
    box-sizing: border-box;
}

.text-node {
    background-clip: text !important;
    -webkit-background-clip: text !important;
}

/* Board */
.mainBoard {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("bg.webp") no-repeat center center / cover;
    overflow: hidden;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

/* Board */
.board-8843f1f0b15b {
    width: 100vw;
    height: 475px;
    background: rgba(0, 0, 0, 0.615);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Board */
.board-8843f1f0b16d {
    height: 92px;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 35px;
    margin-left: 75px;
    margin-right: 75px;
}

/* Board */
.board-8843f1f0b179 {
    position: relative;
    height: 92px;
    background: #7F1735;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    flex: 1;
    flex-shrink: 0;
}

/* Board */
.board-8843f1f0b17b {
    position: relative;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

/* Board */
.percentageViewBlock {
    position: relative;
    height: 92px;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    padding: 15px 0px 15px 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1;
    image-rendering:pixelated;
}

/* Board */
.board-8843f1f0b17f {
    position: relative;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

/* Board */
.CarrousellBackGround {
    width: 100vw;
    height: 142px;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* Rectangle */
.rectangle-8843f1f0b16b {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 475px;
    background: rgba(0, 0, 0, 0.6149999530792272);
    border-radius: 0px;
}

/* base-background */
.basebackg-8843f1f0b169 > svg {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(0px, 0px);
}

.basebackg-8843f1f0b169 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 45px;
    height: 45px;
    border-radius: 0px;
    display: none;
}

/* Board */
.BlockSelector {
    width: 100vw;
    height: 465px;
    overflow: scroll;
}

/* Board */
.blockList {
    width: 100vw;
    height: 465px;
    display: flex;
    align-items: start;
    align-content: stretch;
    justify-content: start;
    gap: 36px;
    padding: 75px 36px 36px 36px;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Board */
.board-8843f1f0b166 {
    position: relative;
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.MenuBlockText > svg {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(0px, 0px);
}

.MenuBlockText {
    position: relative;
    width: 66px;
    height: 25px;
    flex-shrink: 0;
}

.MenuBlockText .root-0 {
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
}

.MenuBlockText .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    margin-right: 1px;
    vertical-align: top;
}

.MenuBlockText .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: center;
}

.MenuBlockText .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(255, 255, 255, 1);
    text-transform: none;
    line-break: auto;
    overflow-wrap: initial;
    white-space: pre;
    text-rendering: geometricPrecision;
    caret-color: rgba(255, 255, 255, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 20px;
    font-family: "sourcesanspro";
    font-style: normal;
    font-weight: 400;
}

/* Block */
.MenuBlock {
    border-radius: 0px;
    flex-shrink: 0;
    background-size:64px;
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.CarrousellBlock {
    border-radius: 0px;
    flex-shrink: 0;
    image-rendering: pixelated;
    width: 64px;
    height: 64px;
    background-size: 64px;
}

/* Rectangle */
.filterBar {
    width: 460px;
    height: 45px;
    background: #514C4A;
    border-radius: 10px;
    margin-right: 15px;
    border: none;
    color: rgba(237, 229, 226, 1);
    font-family: "Noto Sans";
    font-size: 22px;
}

/* Rectangle */
.searchMenuHeader {
    position: absolute;
    width: 100vw;
    height: 65px;
    background: #3D3938;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

/* Board */
.header {
    width: 100vw;
    height: 75px;
    background: #3D3938;
    display: flex;
    align-items: center;
}

/* Grid mode */
.grid-mode-8843f1f0b161 {
    position: absolute;
    left: 310px;
    top: 13px;
    width: 239px;
    height: 49px;
}

.grid-mode-8843f1f0b161 .root-0 {
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
}

.grid-mode-8843f1f0b161 .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
}

.grid-mode-8843f1f0b161 .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: left;
}

.grid-mode-8843f1f0b161 .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(100, 100, 100, 1);
    text-transform: none;
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    text-rendering: geometricPrecision;
    caret-color: rgba(100, 100, 100, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 45px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
}

/* Row Mode */
.row-mode-8843f1f0b160 {
    position: absolute;
    left: 52px;
    top: 12px;
    width: 239px;
    height: 49px;
}

.row-mode-8843f1f0b160 .root-0 {
    display: flex;
    white-space: break-spaces;
    align-items: flex-start;
}

.row-mode-8843f1f0b160 .root-0-paragraph-set-0 {
    display: inline-flex;
    flex-direction: column;
    justify-content: inherit;
    min-width: 100%;
    margin-right: 1px;
    vertical-align: top;
}

.row-mode-8843f1f0b160 .root-0-paragraph-set-0-paragraph-0 {
    font-size: 0;
    line-height: 1.2;
    margin: 0;
    text-align: left;
}

.row-mode-8843f1f0b160 .root-0-paragraph-set-0-paragraph-0-text-0 {
    color: rgba(48, 211, 79, 1);
    text-transform: none;
    line-break: auto;
    overflow-wrap: initial;
    white-space: break-spaces;
    text-rendering: geometricPrecision;
    caret-color: rgba(48, 211, 79, 1);
    text-decoration: none;
    letter-spacing: 0px;
    font-size: 45px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
}


/* Rectangle */
.headerDividerBar {

    width: 12px;
    height: 57px;
    border-radius: 0px;
}

.headerButtonRowMode {
    color: #30d34f;
    background: linear-gradient(to bottom, rgba(48, 211, 79, 0.3) 0%, rgba(110, 198, 121, 0) 100%);
}
.headerButtonGridMode {
    color: #a300c34d;
    background: linear-gradient(to bottom, rgba(163, 0, 195, 0.3) 0%, rgba(110, 198, 121, 0) 100%);
}
.headerButton {
    display: flex;
    align-items: center;
    height: 57px;
    font-size: 45px;
    margin-left: 20px;
}
/* Rectangle */
.rectangle-88444749cad8 {
    position: absolute;
    left: 298px;
    top: 9px;
    width: 12px;
    height: 57px;
    background: #646464;
    border-radius: 0px;
}
